NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/DATABASE_NAME?schema=public"

JWT_SECRET="change_me"
JWT_EXPIRES_IN="7d"

BCRYPT_SALT_ROUNDS=10

CLIENT_URL="http://localhost:5173"